<div class="navbar navbar-fixed-top">
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <div id="toggler"></div>
    </div>
    <div class="col-sm-4 col-xs-4">
      <%= link_to image_tag(""), alt: "site-logo", class: "navbar-logo"), '/' %>
    </div>
    <div class="col-sm-4 col-xs-4">
      <%= link_to 'SIGN OUT', signout_path, class: 'btn btn-default pull-right' %>
    </div>
  </div>
</div>
